<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body>
    <div class="row align-items-md-stretch">
        <div class="col-md-6">
            <div class="d-flex justify-content-center h-100 p-5 text-white border rounded-3 mx-2">
                <img src="<%= result.filepath %>" alt="" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="h-100 p-5 bg-light border rounded-3 mx-2">
                <h2><%= result.itemname %></h2>
                <p>価格：<%= Math.round(result.itemprice).toLocaleString() %>円</p>
                <p><%= result.description %></p>
                <form action="/cart" method="post">
                    <input type="hidden" name="itemcd" id="" value="<%= result.itemcd %>" />
                </form>
                <button class="w-100 btn btn-info">カートに入れる</button>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>

</html>